
@import url('https://fonts.googleapis.com/css?family=Raleway');

app {
  margin: 0;
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.8em;
  scroll-behavior: smooth;
}

a {
  color: #72157a;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
}
  
h3 {
  text-transform: uppercase;
}
  
h3, h4 {
  font-weight: bold;
}


